<h1>Start a new Game</h1>
<%= form_for(@game) do |g| %>
  <%= g.label(:name) %>
  <%= g.text_field(:name) %>
  <%= g.submit %>
<% end %>

<%if @game.errors.any? %>
  <div id="errors">
    <h3>Game not created because:</h3>
    <ul>
      <% @game.errors.messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <h4>Please try again</h4>
<% end %>
