<h1>Start a new Game</h1>
<%= form_for(@game) do |g| %>
  <%= g.label(:name) %>
  <%= g.text_field(:name) %>
  <label for="player_one_name">Player One Name</label>
  <input id="player_one_name" name="game[player_one_name]" type="text" />
  <br/>
  <label for="player_two_name">Player Two Name</label>
  <input id="player_two_name" name="game[player_two_name]" type="text" />
  </br>
  <%= g.submit %>
<% end %>

<%if @game.errors.any? %>
  <div id="errors">
    <h3>Game not created because:</h3>
    <ul>
      <% @game.errors.messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <h4>Please try again</h4>
<% end %>
