
<h1>Game Display</h1>
<br />
<h3>Game Name: <%= @game.name %></h3>
<p>
Players: 
<br/>
<table>
  <thead>
    <tr>
      <td>
        Name
      </td>
      <td>
        ID
      </td>
      <td>
        Position
      </td>
    </tr>
  </thead>
  <tbody>
  <% @game.players.each do |player| %> 
  <tr>
    <td>
      <%=player.name %>
    </td>
    <td>
      <%=player.id%>
    </td>
    <td>
      <%=player.position%>
    </td>
  </tr>
  <%end%>
  <tr>
    <td>
      <button id='take turn' type='button' onClick="@game.roll(Dice.new(), @game.players)">roll dice</button>
    </td>
  </tr>
  </tbody>
</table>

</p>
<br>
<%= link_to '<button id="Add_Player type="button">Add a player</button>'.html_safe, new_player_path %>





<table>
  <thead>
    <tr>
      <%(0..8).each do%>
      <td>_________ </td>
      <%end%>
      <td>_________</td>
    </tr>
  </thead>
  <tbody>
    <% i = 1%>
    <% playerids = []%>
    <% @game.spaces.each do |space| %>
      <% @game.players.each do |player|%>
        <%playerids = []%>
        <% if player.position == i%>
          <% playerids << player.id%>
        <%end%>
      <%end%>

      <% spaces_after = i < 10 ? 6 : i < 100 ? 5 : 4%>
      <% if space.space_type != "empty" %>
        <% spaces_after_dest = space.destination >= 10 ? 3 : 4%>
      <%else%>
        <% spaces_after_dest = 3%>
      <% end %>
      <td><pre><%= "|"%><%= i%><%=" "*spaces_after%><%="|"%><br /></pre> 
             <pre><%="|  "%><%= space.space_type == "empty" ? "  " : space.destination%><%= " " * spaces_after_dest%><%="|"%><br /></pre>
             <pre>|<%playerids.each do |id|%><%=id%><%end%><%=" " * (7-playerids.size)%>|</pre>
             <pre><%="|       |"%><br /><%="`````````" %></pre>
      </td>    
      <% if i%10 == 0 %>
        <tr>
      <% end %>
      <% i+= 1%>
    <%end%>
  </tbody>
</table>
