<h1>Players</h1>

<table>
  <thead>
    <tr>
      <td>Player Name</td>
      <td>Current Position</td>
      <td>Game id</td>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.position %></td>
        <td><a href="games/<%=player.game_id %>" id="<%=player.game_id%>"><%=player.game_id%></td>
      </tr>
    <% end %>
  </tbody>
</table>
