<h1>Add Player</h1>
<%= form_for(@player) do |p| %>
  <%= p.label(:name) %>
  <%= p.text_field(:name) %>
  <%= p.label(:game_id)%>
  <%= p.number_field(:game_id)%>

  <%= p.submit %>
<% end %>

<%if @player.errors.any? %>
  <div id="errors">
    <h3>Player not created because:</h3>
    <ul>
      <% @player.errors.messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <h4>Please try again</h4>
<% end %>
